---
Checks: '
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*'
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
'
WarningsAsErrors: ''
FormatStyle:     file
...